/*
* @Author: Marte
* @Date:   2019-03-15 16:38:11
* @Last Modified by:   Marte
* @Last Modified time: 2019-03-15 18:09:19
*/
* {
    margin: 0;
    padding: 0;
}
a,body{
    color:#333
}
a {
    text-decoration: none;
    cursor: pointer;
}
#header .fix-head{
    position: fixed;
    height: 60px;
    width: 100%;
    background: #fff;
    // -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.4);
    box-shadow: 0 2px 8px rgba(0,0,0,.4);
    z-index: 9999;
}

#header .fix-head .page-head {
    max-width: 1040px;
    height: 60px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.page-head .page-logo {
    width: 160px;
    height: 47px;
    margin-top: 6px;
    background-image: url(https://s2.luckincoffeecdn.com/luckywebrm/images/logo.png);
    background-size: 160px;
    background-repeat: no-repeat;
}
#header .fix-head .page-head .nav-list {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    min-width: 230px;
    z-index: 999;
    background: #fff;
}
#header .fix-head .page-head .nav-list .showcooperation {
    width: 30px;
    height: 30px;
    display: block;
    background: url(https://s2.luckincoffeecdn.com/luckywebrm/images/common/tel.gif) no-repeat;
}
#header .fix-head .page-head .nav-list .head-nav {
    float: right;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    border-bottom: 2px solid #fff;
    margin-left: 32px;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
ol, ul {
    list-style: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
// a:-webkit-any-link {
//     color: -webkit-link;
//     cursor: pointer;
//     // text-decoration: underline;
// }
a:hover {
    color:#FF00FF;
    font-weight:bold;
    text-decoration: none;
    border-bottom: 2px solid #FF00FF!important;
}
#animate-wrap {
    width: 100%;
    overflow: hidden;
}
#animate-wrap .animate-item {
    position: relative;
}
#cover {
    overflow: hidden;
}
#cover, #cover .item-wrap {
    width: 100%;
    max-height: 900px;
}
#cover .item-wrap {
    background-image: url(../images/index/cover/bg.jpg);
    -webkit-transition: none;
    transition: none;
}
#cover .item-wrap .video-wrap {
    max-height: 900px;
    overflow: hidden;
}
#animate-wrap .item-wrap {
    width: 1920px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -960px;
    background-repeat: no-repeat;
}